.template {
  display: none;
}

input{
  opacity: 0.6;
}

.flick {
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  margin-bottom: 20px;
  align-items: center;
  transition: 0.25s;
}

html, body{
  color: white;
  background: linear-gradient(141deg, #42f4a4 0%, #0fb8ad 20%, #1fc8db 51%, #9cb5e8 75%);
  height: 100%;
  margin: 0;
}

div.back{
  height: 100%;
  margin: 0;
  background-image: url("http://static3.fjcdn.com/comments/Jeff+goldblum+is+now+bribing+babies+to+like+him+_71eddc612264ac06294a4da06b4a084f.jpg");
  opacity: 0.15;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -3;
}
div.onTop{
  position: absolute;
  z-index: 10;
}

h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Lobster';
}

.actions{
  float: right;
}

.flick-year{
  float: right;
  /*margin-left: 100px;*/
}

.input-group-field{
  display: block;
}

.button.success{
  height: 100%;
}

.flick.fav{
  background-color: gold;
  border-color: gray;
}

.flick-name {
  flex-grow: 1;
}