.template {
  display: none;
}

li {
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.4em 1em;
  display: flex;
  color: black;
  min-height: 3.5em;
  margin-bottom: 20px;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

li p {
  float: left;
  margin-top: 0.3em;
  font-size: 18px;
  font-style: italic;
}

html, body{
  color: white;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 100%;
  margin: 0;
}

div.back{
  height: 100%;
  margin: 0;
  background-image: url("http://static3.fjcdn.com/comments/Jeff+goldblum+is+now+bribing+babies+to+like+him+_71eddc612264ac06294a4da06b4a084f.jpg");
  opacity: 0.15;
  z-index: -3;
}
div.onTop{
  position: absolute;
  z-index: 10;
}

div.button-group{
  float:right;
}

h1{
  font-size: 100px;
  font-family: 'Arizonia';
}

.actions{
  float: right;
}

.flick-year{
  float: right;
  margin-left: 100px;
}

.input-group-field{
  display: block;
}